html {
    background-color: #000000;
    background-image: url('../images/site_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    padding-top: 70px;
    font-family: 'Source Code Pro', sans-serif;
    color: #f0f0f0;
    background-color: rgba(0,0,0,0);
    .navbar-brand{
        font-family: 'Expletus Sans', sans-serif;
    }
    a {
        color: #b30000;
    }
    a:hover{
        color: #e60000;
        text-decoration: none;
    }
    a:visited {
        color: #b30000;
    }
}
select {
    color: #000000;
}
input {
    color: #000000;
}
